.App {
  text-align: center;
}

.ButtonBar {
  position: absolute;
  top: 75%;
  width: 100%;
}

.ButtonBar button {
  padding: 15px;
  font-size: 2vh;
  background: #09daa97e;
  border: 4px solid rgb(6, 91, 71);
  border-radius: 20px;
  transition: background 1s;
  color: rgb(6, 91, 71);
  font-family: "Nunito Sans", sans-serif;
  box-shadow: 8px 8px 25px #000000;
}

.ButtonBar button.enabled:hover {
  background: #09daa9ff;
  transition: background 1s;
  cursor: pointer;
}

.ButtonBar button.disabled {
  pointer-events: none;
  background-color: #00000000;
  color: #505050;
}

.linkbutton {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: inherit;
  font-size: inherit;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
