.UserProfile {
  position: absolute;
  top: 0;
  right: 0;
}

.AppTitle {
  color: #0c2c5c;
  font-family: "Pacifico", cursive;
  font-size: 10vw;
  text-shadow: 10px 15px 30px #0000007c;
  animation: fadeIn linear 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.UserProfile img {
  border-radius: 50%;
  width: 7vw;
  margin-top: 5vw;
  margin-right: 2vw;
  border: 3px solid aqua;
  user-drag: none;
  -webkit-user-drag: none;
}

.UserProfile .linkbutton {
  outline: none;
}

.ProfileMenuItemHidden {
  display: none !important;
}

.ProfileMenuItem {
  padding: 0.75vw;
  padding-right: 15px;
  position: absolute;
  white-space: nowrap;
  font-size: calc(0.5em + 1vw);
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: #ccf1f5;
  text-shadow: 2px 2px 4px #000000;

  display: inline-block;
}

.MenuItemLogOut {
  top: 4vw;
  right: 8vw;
}

.MenuItemSettings {
  top: 6.5vw;
  right: 9vw;
}

.SignInButton {
  padding: 5px 10px 5px 10px;
  font-family: inherit;
  font-size: calc(0.6em + 0.8vw);
  margin: 10px 10px;
}
