.hidden {
  display: none !important;
}

.visible {
  animation-name: become-visible;
  animation-duration: 1s;
}

@keyframes become-visible {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
  }
}

.MessageEditor textarea {
  background: #ffffff90;
  font-family: "Indie Flower", cursive;
  font-size: 2.8vmax;
  width: 42%;
  box-shadow: 8px 8px 50px #000000;
  height: 30vh;
  padding: 20px;
}

.MessageEditor {
  text-align: center;
  width: 100%;
}

.CloseIcon {
  font-size: 3vw;
  color: #0c2c5c;
  position: absolute;
  margin-top: -1.5vw;
  margin-left: -1.5vw;
  cursor: pointer;
  -webkit-user-drag: none;
  user-drag: none;
}

.SignUpMessage {
  padding: 10px;
  font-size: 1.8vmax;
}

.Signature {
  font-size: 1.5vmax;
}
