.hidden {
  display: none;
  opacity: 0;
}

.visible {
  display: block;
  opacity: 1;
  transition: opacity 1s;
}

.MessageEditor textarea {
  background: #ffffff90;
  font-family: "Indie Flower", cursive;
  font-size: 2.3vw;
  width: 42%;
  box-shadow: 8px 8px 50px #000000;
  height: 30vh;
  padding: 20px;
}

.MessageEditor {
  text-align: center;
  width: 100%;
}

.CloseIcon {
  font-size: 2vw;
  color: #0c2c5c;
  position: absolute;
  margin-top: -1vw;
  margin-left: -1vw;
  cursor: pointer;
  -webkit-user-drag: none;
  user-drag: none;
}

.SignUpMessage {
  padding: 10px;
  font-size: 1.8vmax;
}
