.TwitterButton {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  background-color: #1b95e0;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  font-size: 11pt;
  line-height: 18px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.TwitterButton:hover {
  background-color: #024e9a;
}

.TwitterButton i {
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
}

.TwitterLabel {
  margin-left: 3px;
}
